name: {{NAME}}
# project_id: set when this folder is linked to the platform

# jobs:
#   daily:
#     file: pipelines/daily.yaml
#     schedules: ["0 6 * * *"]
#     # run locally on demand: sling run -j daily
#     # schedules fire on the platform once this folder is linked
