name: Bump

on:
  pull_request:
    types:
      - closed
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - 'core/dbio/api/specs/**'
      - 'api/**'
      - 'core/dbio/api/llms.md'
      - 'README.md'

jobs:
  bump:
    if: github.event.pull_request.merged == true && (! contains(github.event.head_commit.message, '[skip ci]'))
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.tag_version.outputs.new_tag }}
      new_version: ${{ steps.tag_version.outputs.new_version }}
    steps:
      - uses: actions/checkout@v2
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          custom_tag: ${{ github.event.inputs.new_tag }}